Spar.Data.XsdModels/Claims/Claim.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Claims">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Claim" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Header">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Sender"/>
                    <xs:element type="xs:string" name="Receiver"/>
                    <xs:element type="xs:string" name="InterchangeNo"/>
                    <xs:element type="xs:dateTime" name="Date"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="UNH">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="MessageReferenceNumber"/>
                    <xs:element name="MessageIdentifier">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="MessageType"/>
                          <xs:element type="xs:string" name="MessageVersionNumber"/>
                          <xs:element type="xs:string" name="MessageReleaseNumber"/>
                          <xs:element type="xs:string" name="ControllingAgency"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SAP">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="SupplierAccountingPoint"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SDP"  minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="SupplierDespatchPoint"  />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CLO">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="CustomerDeliveryPoint"/>
                    <xs:element type="xs:string" name="CustomerOrderPoint"/>
                    <xs:element type="xs:string" name="CustomerDeliveryPointName"/>
                    <xs:element name="CustomerDeliveryPointAddress" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="AddressLine1" minOccurs="0" />
                          <xs:element type="xs:string" name="AddressLine2" minOccurs="0"/>
                          <xs:element type="xs:string" name="AddressLine3" minOccurs="0"/>
                          <xs:element type="xs:string" name="AddressLine4" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="AlternateInvoicePoint"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="REF">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ClaimNum">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ClaimNumber"/>
                          <xs:element type="xs:dateTime" name="ClaimDate"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ContractDealNumber">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ContractDealNrCustomer"/>
                          <xs:element type="xs:string" name="ContractDealNrSupplier"/>
                          <xs:element type="xs:string" name="SuppliersRepresentative" minOccurs="0"/>
                          <xs:element type="xs:string" name="CustomersRepresentative" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CRF">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ClaimReference">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ManClaimNum" minOccurs="0"/>
                          <xs:element type="xs:string" name="ManClaimCode" minOccurs="0"/>
                          <xs:element type="xs:string" name="InvNum" minOccurs="0"/>
                          <xs:element type="xs:dateTime" name="InvDate"/>
                          <xs:element type="xs:string" name="InvNumCode"/>
                          <xs:element type="xs:string" name="CreditNum" minOccurs="0"/>
                          <xs:element type="xs:dateTime" name="CreditDate" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CLN" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="LineSequenceNr"/>
                    <xs:element name="LineReasonCode">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="LineReasonCode"  minOccurs="0"/>
                          <xs:element type="xs:string" name="LineGoodsReturnedBasis"  minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:decimal" name="LineSubTotalExVat"/>
                    <xs:element type="xs:decimal" name="VatRatePercentage"/>
                    <xs:element name="ProductNumber">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="EanProductNumberConsumerUnit" minOccurs="0"/>
                          <xs:element type="xs:string" name="SupplierProductCode" minOccurs="0"/>
                          <xs:element type="xs:string" name="ProductDescription" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="QuantityDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:decimal" name="NumberOfUnitsClaimed"/>
                          <xs:element type="xs:decimal" name="ConsumerUnitsPerUnitsClaimed"/>
                          <xs:element type="xs:decimal" name="LooseConsumerUnitsReturned"/>
                          <xs:element type="xs:string" name="UnitOfMeasure" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CostPrice">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:decimal" name="CostPriceExVat"/>
                          <xs:element type="xs:decimal" name="ConsumerUnitsPerCostPrice"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CreditAdjustments">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element type="xs:string" name="AdjustmentIndicator"/>
                          <xs:element type="xs:decimal" name="Percentage"/>
                          <xs:element type="xs:decimal" name="Value"/>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ContractDealNumber">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="SuppliersRepresentative"/>
                          <xs:element type="xs:string" name="CustomersRepresentative"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LineNarratives" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Narrative">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="NarrativeDescription"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ProductQualifiers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Style"/>
                          <xs:element type="xs:string" name="Colour"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CTR">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:decimal" name="LinesNetTotalCostEXvat"/>
                    <xs:element type="xs:decimal" name="TotalVatAmountPayable"/>
                    <xs:element type="xs:decimal" name="TotalAmountPayableIncVat"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CMS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:decimal" name="LinesNetTotalCostEXvat"/>
                    <xs:element type="xs:decimal" name="TotalVatAmountPayable"/>
                    <xs:element type="xs:decimal" name="TotalAmountPayableIncVat"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>