Spar.Data.XsdModels/StoreList/Stores.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StoreList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Store" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="DistributionId"/>
              <xs:element type="xs:string" name="Code"/>
              <xs:element type="xs:string" name="Gln"/>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="OwnerName"/>
              <xs:element type="xs:string" name="ManagerName"/>
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="AddressLine1"/>
                    <xs:element type="xs:string" name="AddressLine2"/>
                    <xs:element type="xs:string" name="AddressLine3"/>
                    <xs:element type="xs:string" name="AddressLine4"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="PhoneNumber"/>
              <xs:element type="xs:string" name="FaxNumber"/>
              <xs:element type="xs:string" name="Email"/>
              <xs:element type="xs:string" name="Status"/>
              <xs:element type="xs:string" name="Action"/>
              <xs:element type="xs:string" name="Vat"/>
              <xs:element type="xs:string" name="FormatType"/>
              <xs:element type="xs:string" name="CountryCode"/>
              <xs:element type="xs:string" name="ClaimsForSupplierIndicator"/>
              <xs:element type="xs:string" name="FullItemSocRequired"/>
              <xs:element type="xs:string" name="ExportCustIndicator"/>
              <xs:element type="xs:string" name="VATIndicator"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>