Shoprite/Shoprite.Client/Service References/ServiceReference1/ShopriteDataImportService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:47239/ShopriteDataImportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BizToDBIntegration.WcfContracts" />
  <xs:element name="ImportXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BizToDBIntegration.WcfContracts" minOccurs="0" name="type" type="q1:XmlDataType" />
        <xs:element minOccurs="0" name="uniqueIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BizToDBIntegration.WcfContracts" minOccurs="0" name="ImportXmlResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>